.bg-inicio{
  background-image: url('/img/bg-body.avif');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.bg-alt{
  background-image: url('/img/bg-body.svg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}