body {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position:center;
  background-size: cover;
}

body.bg-inicio{
  background-image: url('/img/bg-body.avif');
}

body.bg-alt{
  background-image: url('/img/bg-body.svg');
}